<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflox - Upload</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Uploader une vidéo</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="videoFile" accept="video/*" required>
        <button type="submit">Upload</button>
    </form>
</body>
</html>