<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflox</title>
    <link rel="icon" href="assets/N_logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <nav class="navbar">
        <div class="left-section">
            <a href="http://localhost:3000/" class="logo-link">
                <img src="assets/Netflox_logo.png" alt="NETFLOX" class="logo desktop-logo">
                <img src="assets/N_logo.png" alt="NETFLOX" class="logo mobile-logo">
            </a>
            <div class="nav-links">
                <a href="http://localhost:3000/" class="nav-item">Accueil</a>
                <a href="http://localhost:3000/videos" class="nav-item">Vidéos</a>
            </div>
        </div>
    </nav>

    <div class="content">
        <h1>Uploader une vidéo</h1><br>
        
        <form class="centrer" action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="videoFile" accept="video/*" required>
            <button type="submit">Upload</button>
        </form>

        <% if (videos && videos.length > 0) { %>
            <div class="recent-videos">
                <div class="recent-videos-header">
                    <h2>Vidéos récemment ajoutées</h2>
                </div>
                <div class="video-grid">
                    <% videos.forEach(video => { %>
                        <div class="video-card">
                            <a href="/player/<%= video %>">
                                <div class="video-thumbnail">
                                    <video>
                                        <source src="/uploads/<%= video %>" type="video/mp4">
                                    </video>
                                </div>
                                <div class="video-title"><%= video %></div>
                            </a>
                        </div>
                    <% }); %>
                </div>
            </div>
        <% } %>
    </div>
</body>
</html>